@use 'sass:map';

$breakpoints: (
    tablet_sd: 768px,
    tablet_hd: 1024px,
    desktop_sd: 1440px,
    desktop_hd: 1920px,
);

.services {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.section-title {
    display: flex;
    gap: 2px;
    width: 136px;
    height: 17px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.section-name {
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.arrow {
    text-align: center;
}

.hero {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    color: transparent;     
    margin-top: 0; 
    margin-bottom: 30px;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 30px;
    margin-bottom: 60px;
}

.service-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
    margin-top: 30px;
    margin-bottom: 15px;
}

.service-description {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 92px;
    height: 92px;
    border-radius: 24px;
}

.services-item {
    display: flex;
    flex-direction: column;
}

@media (min-width: #{map-get($breakpoints, 'tablet_sd')}) {
    .services-list {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(3, auto);
       gap: 60px;
    }

    .services-item {
        width: 294px;
    }

    .hero {
        margin-bottom: 60px;
    }
}

@media (min-width: #{map-get($breakpoints, 'tablet_hd')}) {
    .services-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
     }

    .services-item {
        width: 261.33px;
    }
}

@media (min-width: #{map-get($breakpoints, 'desktop_sd')}) {
    .services-item {
        width: 400px;
    }
}

@media (min-width: #{map-get($breakpoints, 'desktop_hd')}) {
    .services-item {
        width: 493px;
    }
}


